/*============FONTS==============*/
@import url('https://fonts.googleapis.com/css?family=Poppins: 400, 500, 700');



*
{
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    background-color: #2F303A;
    font-family: Poppins; 
    font-size: 1.2rem;
    color:white;
    min-height: 100vh;
}

.full-height {
    display: flex;
    flex-direction: column;
}


/*=============HEADER=====================================*/

.container {
    
    margin: 0 auto;
    padding: 0 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color:rgb(91, 91, 100); 
    margin-top: 25px;
}

.header img {
    width: 100px;
    height: 100px;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color:inherit;
    text-decoration: none;
}

.logo-name {
    margin-left: 1rem;
}

.nav-bar ul {
    display: flex;
    margin:0;
    padding: 0;
    list-style: none;
}


.nav-bar li a:link,
.nav-bar li a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 1rem;
}

.nav-bar li a:hover,
.nav-bar li a:active {
    border-bottom: 2px solid #cf6d17;
}

/*============Home section==============*/

.home-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    justify-content: center;
    margin-top: 100px;
}

.home-section  image {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

}

.woman image img {
  
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    
}

.home-section .aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:1rem;
    align-self: center;
    
}


.image img {
    width: 400px;
    height: 500px;
}


.title{
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: orange;
    color: white;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    margin-bottom: 50px;
}

.btn {
    color: white;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    margin-bottom: 50px;
}

/*============MAIN PART===================================*/


/*============Discover section==============*/


.discover-section {
    background-color:rgb(91, 91, 100); 
}

.action img {
    width: 400px;
    height: 400px;
    float: right;
    overflow: auto;
}

.clearfix {
    overflow: auto;
}

.action h1 {
    margin-top: 200px;
    font-size: 2.5rem;
}

/*============Offers section==============*/


.offer {
    display: flex;
    float: left;
    width: 33.3%;
    clear: both;
    content:"";
    
}


.col {
    margin:40px;
    margin-right: 100px;
}
.col img {
    float: left;
    width:300px;
    height: 300px;
    
  }

  .card-body button {
    margin-right:100px;
    margin-top: 20px;
    float:right;
    background-color: rgb(67, 68, 83);
    border-color: orange;
    border-width: 4px;
   
  }
  

  .title-offer {
      margin-top: 500px;
      text-align: center;
      font-size: 1.8rem;
      background-color:rgb(91, 91, 100); 
      
  }

  /*============Reviews section==============*/

  .reviews {
    display: flex;
    float: left;
    
}

  .title-reviews {
      margin-top: 600px;
      text-align: center;
      font-size: 1.8rem;
      background-color:rgb(91, 91, 100); 
      width: 1269px;

  }

  .text-rev {
    background-color:rgb(67, 68, 83); 
    width: 200px;
    height: 250px;
    margin:0;
    text-align: center;
    
    
  }

  .card-body img {
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 200px;
   
  }

  .card-body .name {
      margin-top: 30px;
      margin-right: 150px;
  }
